body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 95%;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav-ul {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.header-nav-ul li {
  height: 50px;
  line-height: 50px;
}
